body {
  height: 100vh;
  width: 100vw;
  /* background-color: palegoldenrod; */
  background-image: linear-gradient(
    to bottom right,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    palegoldenrod,
    rgb(183, 118, 28)
  );
  font-style: italic;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0.3px 0.3px 1px red;
}

button {
  background-color: palegoldenrod;
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-button {
  height: 100px;
  width: 300px;
  background-color: skyblue;
  font-size: 30px;
  font-weight: bold;
  border-radius: 9px;
  box-shadow: 7px 7px 2px black;
  text-shadow: 0.3px 0.3px 1px red;
}

.button-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: skyblue;
  border: 3px solid black;
  /* border-radius: 8px; */
  margin: 10px;
  margin-left: 20px;
  border-radius: 9px;
  box-shadow: 7px 7px 2px black;
}

.book-text {
  text-align: center;
}

.unread-button {
  border-radius: 9px;
  background-color: red;
  opacity: 0.6;
}

.read-button {
  border-radius: 9px;
  background-color: green;
  opacity: 0.6;
}

.delete-button {
  opacity: 0.6;
  background-color: aquamarine;
  align-self: flex-end;
  margin: 5px;
}
