body {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  font-weight: bold;
}

.container {
  /* height: 60vh; */
  width: 60vw;
  position: absolute;
  background-color: coral;
  margin-top: 20vh;
  margin-left: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10vh;
}

.book-card {
  height: 30vh;
  width: 30vh;
  background-color: skyblue;
  border: 3px solid black;
  border-radius: 8px;
  margin: 5vh;
}
